html,
body {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: unset;
  overflow: hidden;
  background: #171a22;
}

.container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Helvetica Neue, Arial, sans-serif;
}

.profile-box {
  overflow: hidden;
  padding: 1em;
  margin-top: -5%;
  text-align: center;
}

.profile-box li {
  list-style: none;
}

.profile-box a {
  position: relative;
  padding: 0 0.2em;
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.1s;
  color: #f3f3f3;
}

.profile-box a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 40%;
  width: 0;
  transition: all 0.2s;
  border-top: 0.3em solid #f07883;
}

.profile-box a:hover::after {
  width: 100%;
  transition: all 0.1s;
}

.profile-name {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #f07883;
  letter-spacing: 0.1em;
}

.profile-description {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0.75rem;
  letter-spacing: 0.1em;
  color: #f3f3f3;
}

.profile-link-container {
  margin-top: 3rem;
  position: relative;
  display: flex;
  font-weight: 300;
  justify-content: space-around;
  letter-spacing: 0.1em;
  padding: 0;
}

.profile-link-item {
  flex: 1 1 30%;
}

@media (max-width: 480px) {
  .profile-box {
    margin-top: -20%;
  }

  .profile-name {
    font-size: 2.25rem;
  }

  .profile-description {
    font-size: 1.2rem;
  }
  .profile-link-container {
    margin-top: 2rem;
    flex-direction: column;
  }

  .profile-box a {
    font-size: 1.2rem;
  }

  .profile-link-item {
    margin: 1rem 0;
  }
}

@media (max-width: 360px) {
  .profile-box {
    margin-top: -20%;
  }

  .profile-name {
    font-size: 2rem;
  }

  .profile-description {
    font-size: 1rem;
  }

  .profile-link-container {
    margin-top: 2rem;
  }

  .profile-box a {
    font-size: 1rem;
  }
}
