html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-box {
  overflow: hidden;
  padding: 1em;
  margin-top: -5%;
  text-align: center;
}

.profile-box li {
  list-style: none;
}

.profile-box a {
  position: relative;
  padding: 0 0.2em;
  text-decoration: none;
  transition: all 0.1s;
  color: #9f9f9f;
}

.profile-box a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 40%;
  width: 0;
  transition: all 0.2s;
  border-top: 0.3em solid #f07883;
}

.profile-box a:hover::after {
  width: 100%;
  transition: all 0.1s;
}

.profile-name {
  margin: 0;
  text-transform: uppercase;
  color: #f07883;
  letter-spacing: 0.1em;
}

.profile-description {
  margin: 0;
  margin-top: 0.75rem;
  letter-spacing: 0.1em;
  color: #9f9f9f;
}

.profile-link-container {
  margin-top: 2.5rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.profile-link-item {
  flex: 1 1 30%;
}
