html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-box {
  overflow: hidden;
  padding: 1em;
  margin-top: -10%;
  text-align: center;
}

.profile-box li {
  list-style: none;
  color: #515151;
}

.profile-box a {
  text-decoration: none;
  color: #515151;
  transition: color 0.1s;
}

.profile-box a:hover {
  color: #f07883;
}

.profile-name {
  margin: 0;
  color: #f05967;
  letter-spacing: 0.1em;
}

.profile-description {
  margin: 0;
  margin-top: 0.75rem;
  letter-spacing: 0.1em;
  color: #515151;
}

.profile-link-container {
  margin-top: 2.5rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.profile-link-item {
  flex: 1 1 30%;
}
